.card {
    position: relative;
    background: $card-color;
    padding: 20px 25px 10px;
    border-radius: 50px;

    img {
        height: 330px;
        width: 100%;
        padding: 10px 20px 5px;
        border-radius: 50px;
    }

    &_date {
        color: $secondary-text-color;
        letter-spacing: 1px;
    }

    &_rating {
        display: flex;
        align-items: center;
        gap: 10px;
        margin: 10px 0 15px;

        &--score {
            font-weight: bold;
        }

        .fa-solid {
            color: #f5c518;
            text-shadow: 0 0 8px rgba(245, 197, 24, 0.3);
        }
    }

    &_genders {
        display: flex;
        align-items: center;
        gap: 10px;
        flex-wrap: wrap;

        &--gender {
            background: $card-hover-color;
            padding: 10px;
            border-radius: 20px;
            font-size: 0.8rem;
        }
    }

    &_synopsis {
        &--text,
        &--button {
            color: $secondary-text-color;
            line-height: 1.5;
        }
        &--text {
            display: -webkit-box;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
            overflow: hidden;
            margin-bottom: 3px;

            &.showAll {
                display: block;
            }
        }

        &--button {
            background: none;
            border: none;
            font-family: $font-text;
            font-weight: bold;
            cursor: pointer;
            transition: 0.3s ease;

            &:hover {
                transform: scale(1.05);
            }
        }
    }

    &_favorite {
        position: absolute;
        bottom: 5px;
        right: 25px;
        font-size: 1.4rem;
        border: none;
        background: none;
        color: $secondary-text-color;
        cursor: pointer;
        transition: color 1s ease;

        &:hover {
            color: $button-hover-color;
        }
    }
}
