.search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    input,
    button,
    .topflop {
        min-width: 230px;
        margin-right: 4px;
        font-family: $font-text;
    }

    #search-title,
    button {
        padding: 10px;
        text-align: center;
    }

    #search-title {
        margin-top: 50px;
        outline: none;
        border-radius: 10px 10px 0 0;
        border: none;
        transition: 0.3s ease;

        @media (max-width: $media-screen-mobile) {
            margin-top: 100px;
        }

        &:focus {
            border: 2px solid $button-hover-color;
        }
    }

    button {
        color: $main-text-color;
        background-color: $card-color;
        border: none;
        border-radius: 0 0 10px 10px;
        cursor: pointer;
        transition: 0.3s ease;

        &:hover {
            background: $button-hover-color;
        }
    }

    .topflop {
        margin-top: 15px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        font-size: 0.7rem;
        background: $card-color;
        border-radius: 10px;

        &_top,
        &_flop {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            padding: 5px 0;
            margin: 0;
            min-width: auto;
        }

        &_top {
            border-radius: 10px 0 0 10px;
        }
        &_flop {
            border-radius: 0 10px 10px 0;
        }

        .fa-solid {
            font-size: 0.6rem;
        }
    }
}
