h1,
h2,
h3 {
    font-family: $font-title;
}

h2,
h3 {
    font-size: 1.2rem;
    font-weight: bold;
}

h2 {
    margin: 5px 0 10px;
    letter-spacing: 2px;
}

h3 {
    margin: 20px 0 10px;
}

main {
    margin: 0 20px;
    flex: 1;
}

section {
    text-align: center;
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-top: 50px;

    @media (max-width: $media-screen-tablet) {
        grid-template-columns: repeat(3, 1fr);
    }
    @media (max-width: $media-screen-mobile) {
        grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: $media-screen-small) {
        grid-template-columns: 1fr;
    }
}
