@font-face {
    font-family: "font-title";
    src: url(../assets/fonts/oswald.ttf);
}
@font-face {
    font-family: "font-text";
    src: url(../assets/fonts/inter.ttf);
}

$font-title: "font-title", serif;
$font-text: "font-text", sans-serif;

$main-background-color: #0f172a;
$card-color: #1e293b;
$card-hover-color: #334155;
$button-color: #dc2626;
$button-hover-color: #b91c1c;
$button-cancel-color: #b91c1c54;
$main-text-color: #f8fafc;
$secondary-text-color: #94a3b8;

$media-screen-desktop: 1440px;
$media-screen-tablet: 1200px;
$media-screen-mobile: 900px;
$media-screen-small: 580px;

@mixin center-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@mixin center-row {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin button {
    cursor: pointer;
    border: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: $main-background-color;
    color: $main-text-color;
    font-family: $font-text;
    margin: 30px 20px 0;

    @media (max-width: $media-screen-mobile) {
        margin: 0;
    }
}

li {
    list-style: none;
}

a {
    color: $main-text-color;
    text-decoration: none;
}
